* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #c9c5c5;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;

  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
  }

    h3 {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
  
  .form-container {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 350px;
    max-height: 550px;
  }

  .data-container {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 350px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #df8a0b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #ff0000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }

  .group-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }